#dbinfo  {
    display:  block;
    text-align:  center;
    padding-top:  13px;
    font-weight:  bold;
    color:  blue;
    font-size:  22px;
}
.result_box {
    background:  rgba(212, 228, 239, 0.91);
    background:  -moz-linear-gradient(top,  rgba(212, 228, 239, 0.91) 0%,  rgba(212, 228, 239, 0.94) 35%,  rgba(134, 174, 204, 1) 100%);
    background:  -webkit-gradient(left top,  left bottom,  color-stop(0%,  rgba(212, 228, 239, 0.91)),  color-stop(35%,  rgba(212, 228, 239, 0.94)),  color-stop(100%,  rgba(134, 174, 204, 1)));
    background:  -webkit-linear-gradient(top,  rgba(212, 228, 239, 0.91) 0%,  rgba(212, 228, 239, 0.94) 35%,  rgba(134, 174, 204, 1) 100%);
    background:  -o-linear-gradient(top,  rgba(212, 228, 239, 0.91) 0%,  rgba(212, 228, 239, 0.94) 35%,  rgba(134, 174, 204, 1) 100%);
    background:  -ms-linear-gradient(top,  rgba(212, 228, 239, 0.91) 0%,  rgba(212, 228, 239, 0.94) 35%,  rgba(134, 174, 204, 1) 100%);
    background:  linear-gradient(to bottom,  rgba(212, 228, 239, 0.91) 0%,  rgba(212, 228, 239, 0.94) 35%,  rgba(134, 174, 204, 1) 100%);
    filter:  progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef',  endColorstr='#86aecc',  GradientType=0 );
    margin:  0 auto;
    margin-top:  20px;
    position:  relative;
    max-width:  700px;
    overflow:  hidden;
    clear:  both;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.dte  {
    width:  500px;
    float:  left;
}
.image_box  {
    width:  200px;
    float:  right;
}
.std_title  {
    font-weight: bold;
    margin-left:  20px !important;
    ;
}
.std_input  {
    float:  right;
    width:  270px;
    margin-right:  20px;
}
.std_input:hover {
border-color: #00E737;
-webkit-box-shadow: 0 0 2px rgba(25, 206, 32, 0.8);
box-shadow: 0 0 2px rgba(25, 206, 32, 0.8);
}
.sep  {
    min-height:  30px;
}
.buttons  {
    text-align: center;
    padding:  20px 20px;
    width:  700px;
}
#btn_delete  {
    opacity: .1;
    cursor:  no-drop;
}
#btn_delete:hover  {
    font-weight: bold;
    color: yellow !important;
}
.needsfilled  {
    	background-color: red !important;
    	color: white !important;
}
.disable  {
    color:  red !important;
    font-weight:  bold !important;
}
.ssr_btn {
    width:  62px;
    height: 30px;
	font-size: 12px;
	line-height: 2.5;
	border-radius: 3px;
	text-decoration:none;
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-appearance: button;
	cursor: pointer;
	overflow: visible;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#btn_delete  {
      -webkit-transition:  all 1s ease-in-out;
      -moz-transition:  all 1s ease-in-out;
      -o-transition:  all 1s ease-in-out;
      transition:  all 1s ease-in-out;
}
.ssr_btn_save { 
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
} 
 
.ssr_btn_save:hover { 
  color: #FFFFFF; 
background-color: #47a447;
border-color: #398439;
}
.ssr_btn_update { 
color: #fff;
background-color: #f0ad4e;
border-color: #eea236;
} 
 
.ssr_btn_update:hover { 
color: black;
background-color: #ed9c28;
border-color: #d58512;
}
.ssr_btn_delete{
color: #fff;
background-color: #d9534f;
border-color: #d43f3a;
}
.ssr_btn_delete:hover{
background-color: #d2322d;
border-color: #ac2925;
}
#upload_image_button {
color: #fff;
background-color: #5bc0de;
border-color: #46b8da;}
#upload_image_button:hover {color: #fff;
background-color: #31b0d5;
border-color: #269abc;}