.result_div {
background: rgba(255,255,255,1);
/* Old Browsers */background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
 /* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
/* Chrome,Safari4+  */background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
 /* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
 /* IE 10+ */background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
/* IE6-9 */
padding: 50px 20px;
border-radius: 10px;
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
margin-bottom:20px;
}
.reg_box {text-align: center;}
#rues {border: 1px solid #1AFD1A !important;padding: 0 20px;}
#rues:hover {border: 1px solid red !important;}
#rues{width: 200px;height:32px;text-align: center;}
::-webkit-input-placeholder {color: red;}
:-moz-placeholder { /* Firefox 18- */color: red;}
::-moz-placeholder {  /* Firefox 19+ */color: red;}
:-ms-input-placeholder {color: red;}
input:-moz-placeholder{color:red}
input:-ms-input-placeholder{color:red}
/*Result Box*/
.result_box{
background: rgba(212,228,239,0.91);
background: -moz-linear-gradient(top, rgba(212,228,239,0.91) 0%, rgba(212,228,239,0.94) 35%, rgba(134,174,204,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,0.91)), color-stop(35%, rgba(212,228,239,0.94)), color-stop(100%, rgba(134,174,204,1)));
background: -webkit-linear-gradient(top, rgba(212,228,239,0.91) 0%, rgba(212,228,239,0.94) 35%, rgba(134,174,204,1) 100%);
background: -o-linear-gradient(top, rgba(212,228,239,0.91) 0%, rgba(212,228,239,0.94) 35%, rgba(134,174,204,1) 100%);
background: -ms-linear-gradient(top, rgba(212,228,239,0.91) 0%, rgba(212,228,239,0.94) 35%, rgba(134,174,204,1) 100%);
background: linear-gradient(to bottom, rgba(212,228,239,0.91) 0%, rgba(212,228,239,0.94) 35%, rgba(134,174,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=0 );
margin: 0 auto;
margin-top: 20px;
position: relative;
max-width: 700px;
overflow: hidden;
clear: both;
opacity: 0;
webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.dte {min-width: 450px;float: left;width: 53%;overflow: hidden;width:auto;}
.image_box {max-width: 200px;float: right;overflow: hidden;width: auto;}
.std_title {font-weight:bold;margin-left: 20px !important;}
.std_input {float: right;width: 270px;margin-right: 20px;height:22px;padding: 0 !important;}
.sep {min-height: 30px;overflow:hidden;}
#st_img2 {width:200px;height:200px;}
.std_subview {width: 538px;position: absolute;right: 0;padding: 0 !important;margin: 0;height: 22px;left:160px;min-width:270px;}
#ssr_msgbox {display:none;
text-align: center;
font-size: 61px;
text-transform: uppercase;
color: #FFF;
text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
background: black;
height: 195px;
position: absolute;
width: 97%;
padding-top: 98px;
margin-top: 7px;
font-family: arial;
}
.successModal {
    display: block;
    position: fixed;
    top: 45%;
    left: 25%;
    width: 300px;
    height: auto;
    padding: 5px 20px;
    border: 3px solid green;
    background-color: #EFE;
    z-index:1002;
    overflow: auto;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px;
    -moz-box-shadow: 5px 5px 10px #cfcfcf;
    -webkit-box-shadow: 5px 5px 10px #cfcfcf;
}